<div>
    <app-calculadora-cripto></app-calculadora-cripto>
    <ng-container *ngIf="mostrarModulo2">
        <app-calculadora-cripto></app-calculadora-cripto>
    </ng-container>
    <ng-container *ngIf="mostrarModulo3">
        <app-calculadora-cripto></app-calculadora-cripto>
    </ng-container>

</div>

<div style="display: flex; justify-content: center;">
    <div class="" *ngIf="mostrarModulo2">
        <img class="ImgPuntero efecto" src="./assets/img/logoMenos.png" alt="" width="40" (click)="ocultarModulo()">
    </div>
    <div style="margin-left: 20px;" *ngIf="!mostrarModulo3">
        <img class="ImgPuntero efecto" src="./assets/img/logoMas.png" alt="" width="40" (click)="mostrarModulo()">
    </div>
</div>

<app-table-crypto></app-table-crypto>
<!-- <app-comprar-cripto></app-comprar-cripto>
<app-tabla-cripto></app-tabla-cripto> -->
<!-- <app-lista-cripto></app-lista-cripto> -->