<app-nav></app-nav>
<div style="padding: 5px;">

</div>
<div class="fondoInicio">
    <div class="container-main">

        <div class="pilar">
            <a  href="https://accounts.binance.com/es/register?ref=GG289L9J" target="_blank"><img
                    class="borderRadius" src="../assets/img/binance.jpeg" width="200" alt=""></a>
        </div>
        <div class="fondoContenido">
            <router-outlet></router-outlet>
        </div>
        <div class="pilar">
            <a  href="https://accounts.binance.com/es-LA/register?ref=DWPYCN7O" target="_blank"><img
                    class="borderRadius" src="../assets/img/binance2.jpeg" width="200" alt=""></a>
        </div>
    </div>
</div>

<app-footer></app-footer>