<div class="container-fluid fondoNav">
    <div class="row">
        <!-- <div class="col-12 text-center ">
            <h5>Dolar</h5>
        </div> -->
        
        <div class="col-sm-12 col-md-5">
           <a href="https://grillosmart.com/" style="text-decoration : none; color : #000000;">
               <img src="../assets/img/GrilloSmart.png" alt="">
           </a> 
        </div>
        <!-- <div class="col-sm-12 col-md-5 flexAlMedio text-center" >
            <button class="btn btn-primary btnTamañoNav">Criptomonedas</button>
            <button class="btn btn-primary btnTamañoNav">Acciones</button>
        </div> -->
        <div class="col-12 pt-2"></div>
    </div>
</div>