/* Fondo Nav */
.fondoNav{
    background-color: #141212d4;
    
}

.btnTamañoNav{
    width: 135px;
    height: 40px;
}

.btn-primary {
    color: #fff;
    background-color: #6fc62c;
    border-color: #6fc62c;
}

/* btn */
.flexAlMedio{
    align-items:center;
      display: flex;
      justify-content: space-between;
}
/* Tamaño Celular */
@media (max-width: 600px) {
    img{
        max-width: 100%;
    }
}

.fondoIni{
    background: white;
}

.ImgPuntero{
    cursor: pointer;
    
}
.efecto:hover{
    -webkit-transform:scale(1.1);transform:scale(1.1);
}
.container-inicio{
    padding: 2%;
    
}

.info-card{
    background: #fff;
    border-radius: 10px 10px 10px 10px;
    padding: 1%;
}

.container-info{
    display: flex;
    justify-content: space-around;
}