<div style="height: 10px; background: #141212d4 ;">

</div>
<section id="footer" >
    <div class="container-footer">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Panda Comunidad</h5>
                <ul class="list-unstyled quick-links">
                    <li><a routerLink="/inicio"><i class="fa fa-angle-double-right"></i>Inicio</a></li>
                    <li><a routerLink="/comunidad"><i class="fa fa-angle-double-right"></i>Comunidad</a></li>
                    <li><a href="https://www.coingecko.com/es" target="_blank"><i
                                class="fa fa-angle-double-right"></i>Lista de criptos obtenidas desde una API en:
                            https://www.coingecko.com/es</a></li>
                </ul>
            </div>

        </div>

        <div class="row">
            <div style="display: flex; justify-content:start; align-items: center;">
                <p><u><a href=""><img src="../assets/img/pandacoin.png" width="100px" alt=""></a></u></p>
                <p class="h6" style="color: #fff;">© All right Reversed.<a class="text-green ml-2" href="https://grillosmart.cl/"
                        target="_blank">GrilloSmart</a></p>
            </div>
        </div>
    </div>
</section>