<section id="footer" style="    margin-top: 1%;">
    <div class="container-footer">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Grillo Comunidad</h5>
                <ul class="list-unstyled quick-links">
                    <li><a routerLink="/inicio"><i class="fa fa-angle-double-right"></i>Inicio</a></li>
                    <li><a routerLink="/comunidad"><i class="fa fa-angle-double-right"></i>Comunidad</a></li>
                    <li><a href="https://www.coingecko.com/es" target="_blank"><i
                                class="fa fa-angle-double-right"></i>Lista de criptos obtenidas desde una API en:
                            https://www.coingecko.com/es</a></li>
                </ul>
            </div>

        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p><u><a href=""><img src="../assets/img/GrilloSmartBlack.png" alt=""></a></u></p>
                <p class="h6">© All right Reversed.<a class="text-green ml-2" href="https://grillosmart.cl/"
                        target="_blank">GrilloSmart</a></p>
            </div>
        </div>
    </div>
</section>